body {
    background-image: url(../img/bg.png);
    background-position: center top;
}
header {
    margin: 46px auto 51px auto;
}
nav {
    text-align: center;
}
nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 27px;
    display: inline-block;
    padding: 0px 27px 0px 27px;
    vertical-align: 50%;
}
nav img {
    vertical-align: middle;
}
nav a:hover {
    color: #263555;
}
nav a:active {
    color: #9AD8FF;
}
main {
    box-sizing: border-box;
    width: 1024px;
    padding: 59px 61px 59px 61px;
    background-color: #ffffff;
    margin: 1px auto 0px auto;
}
footer {
    background-color: #30455b;
    box-sizing: border-box;
    width: 1024px;
    margin: 0px auto 0px auto;
    text-align: center;
    padding: 41px 104px 44px 103px;
}
.f-column1, .f-column2, .f-column3, .f-column4 {
    width: 24%;
    box-sizing: border-box;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}
footer a {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    line-height: 26px;
    display: block;
    }
footer nav a:hover {
    color: #9AD8FF;
}
.f-heading {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
}
footer p, .phone{
    font-family: Arial, sans-serif;
    color: #ffffff;
    font-size: 12px;
    line-height: 23px;
}